body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

h1{
	color: #FFDF00;
	font-family: Ultra;
	font-size: 50px;
	margin-left: 7px;
	text-decoration: underline;
}

img{
	width: 100px;
	height: 100px;
	margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;

}

h2{
	font-family: Ultra;
	font-size: 40px;
	margin-left: 40px;
	margin-bottom: -20px;
	color: white;
}

h3{
	font-family: Ultra;
	font-size: 40px;
	margin-left: 55px;
	margin-bottom: -20px;
	color: black;
}

h4{
	font-family: Ultra;
	font-size: 40px;
	margin-left: 20px;
	margin-bottom: -20px;
	color: white;
}

h5{
	font-family: Ultra;
	font-size: 40px;
	margin-left: 25px;
	margin-bottom: -20px;
	color: black;
}

h6{
	font-family: Ultra;
	font-size: 40px;
	margin-left: 0px;
	margin-bottom: -20px;
	color: black;
}

.silver{
	font-family: Ultra;
	font-size: 40px;
	margin-left: 50px;
	margin-bottom: -20px;
	font-weight: bold;
	color: white;
}

p{
	margin-left: 250px;
	margin-bottom: -40px;
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.transbox{
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}
