body{
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: contain;	
	margin-top: 188px;
    margin-bottom: 300px;
    margin-right: 355px;
    margin-left: 450px;
}

label{
	color: white;
}
